<!doctype html>
<html>
	<head>
		<meta charst="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>birdcraft</title>
	</head>
	<body>
		<nav>
			<h1>birdcraft</h1>
			<aside>
				<a href="{{ url_for('index') }}">home</a>
				<div style="float:right;display:inline">
					{% if g.user %}
						<span>{{ g.user['username'] }}</span>
						<a href="{{ url_for('auth.logout') }}">logout</a>
					{% else %}
						<a href="{{ url_for('auth.login') }}">login</a>
						<a href="{{ url_for('auth.register') }}">register</a>
					{% endif %}
				</div>
			</aside>
			<hr>
		</nav>
		<header>
			{% block header %}{% endblock %}
		</header>
		<main>
			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			{% block content %}{% endblock %}
		</main>
		<footer>
			<!-- not implemented --->
			<span class="copyright">birdcraft &mdash; <a href="https://github.com/LordNature/birdcraft">made in flask</span>
		</footer>
	</body>
</html>