{% extends 'base.html' %}

{% block header %}
<h1>{{ user['username'] }}'s Profile</h1>
{% endblock %}

{% block content %}
<div class="profile">
	<div class="avatar" style="background-image:url({{ url_for('static', filename='avatar/beach.png') }})">
		<img id="base" src="{{ url_for('static', filename='avatar/char.png') }}">
	</div>
	<div class="desc">
		<div class="profile-right">
			<button>private message</button> <button>add friend</button>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="profile-content">
	<div class="container">
		<div class="col-group">
			<div class="col-4">
				<div class="col-group">
					<div class="col-6"><img id="base" src={{ url_for('static', filename='badges/biggestMeme.png') }} width="100%" /></div>
					<div class="col-6"><img id="base" src={{ url_for('static', filename='badges/hardestDab.png') }} width="100%" /></div>
				</div>
			</div>
			<div class="col-8">
				<div class="col-group">
					<div class="col-4"><img id="base" src={{ url_for('static', filename='avatar/charReverse.png') }} width="100%" /></div>
					<div class="col-4"><img id="base" src={{ url_for('static', filename='avatar/charReverse.png') }} width="100%" /></div>
					<div class="col-4"><img id="base" src={{ url_for('static', filename='avatar/charReverse.png') }} width="100%" /></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}